<table>
    <tr>
        <td>{{ '{{' }}css_path{{ '}}' }}</td>
        <td>The path to the css folder</td>
        <td>{{ css_path }}</td>
    </tr>
    <tr>
        <td>{{ '{{' }}js_path{{ '}}' }}</td>
        <td>The path to the js folder</td>
        <td>{{ js_path }}</td>
    </tr>
    <tr>
        <td>{{ '{{' }}img_path{{ '}}' }}</td>
        <td>The path to the images folder</td>
        <td>{{ img_path }}</td>
    </tr>
    <tr>
        <td>{{ '{{' }}page_title{{ '}}' }}</td>
        <td>The page title</td>
        <td>{{ page_title }}</td>
    </tr>
    <tr>
        <td>{{ '{{' }}primary_segment{{ '}}' }}</td>
        <td>The top most parent page</td>
        <td>{{ primary_segment }}</td>
    </tr>
    <tr>
        <td>{{ '{{' }}segment{{ '}}' }}</td>
        <td>The current page</td>
        <td>{{ segment }}</td>
    </tr>
    <tr>
        <td>{{ '{{' }}segment_title{{ '}}' }}</td>
        <td>The segment title</td>
        <td>{{ segment_title }}</td>
    </tr>
    <tr>
        <td>{{ '{{' }}canonical{{ '}}' }}</td>
        <td>The canonical url</td>
        <td>{{ canonical }}</td>
    </tr>
    <tr>
        <td>{{ '{{' }}breadcrumbs{{ '}}' }}</td>
        <td>The breadcrumbs, see one of the subpages for an example</td>
        <td></td>
    </tr>
</table>
