{# The head component of your page, feel free to add/remove everything you need/do not need. #}
<head>
    <meta charset="utf-8">
    <title>{{ page_title }} | {{ site_title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1">
    {# This is a minified version of all the css files defined in generate-resources.php #}
    <link href="{{ css_path }}/css.min.css" rel="stylesheet">
    <link rel="canonical" href="{{ canonical }}">
    <meta name="description" content="{{ meta_description }}">
</head>
